* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

@keyframes shiftRight {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}


.header-link {
    background-color: aqua;
}

.header-container{
    max-width: 1140px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.messages-list{
    display: flex;
    list-style: none;
    gap: 20px;
}

.messages-list li{
    cursor: pointer;

}

.svg-icon{
    width: 40px;
    height: 40px;
    transition: .3s;
    padding: 3px;
    border-bottom: aqua 2px solid;
    border-radius: 20px;
}

.svg-icon:hover{
    scale: 1.3;
    transition: .3s;
    border-color: black;
    background: linear-gradient(aqua, aquamarine);
}

.email{
    color: black;
    display: flex;
    align-items: center;
    gap: 3px;
    border-bottom: aqua 1px solid;
    text-decoration: none;
    transition: .3s;
}

.email:hover{
    border-color: black;
    scale: 1.05;
    transition: .3s;
}

.email img{
    width: 40px;
    height: 40px;
}

/* CSS */

